<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="admin/fragments :: page_head('Account Details - Shopme')"></head>
    <body>
        <!-- Navbar -->
        <div th:replace="admin/fragments :: nav('')"></div>

        <!-- Content -->
        <main class="container">
            <!-- Main topic -->
            <h2 class="mb-2 mt-2">Change your password</h2>

            <!-- Redirect message -->
            <div th:if="${message != null}" class="alert alert-success text-center mt-3 mb-2">
                [[${message}]]
            </div>

            <!-- User Form -->
            <div class="container">
                <div class="form-container container border mt-5 p-4" style="max-width: 750px">
                    <form th:action="@{/admin/account/password}" method="post" enctype="multipart/form-data" th:object="${user}">
                        <input th:field="*{id}" type="hidden">

                        <div class="row mb-3">
                            <label class="col-3 col-form-label">Password</label>
                            <div class="col-9">
                                <input oninput="checkConfirmPassword(document.getElementById('confirmPassword'))" type="password" class="form-control" th:field="*{password}" required minlength="8" maxlength="20">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-3 col-form-label">Confirm password</label>
                            <div class="col-9">
                                <input oninput="checkConfirmPassword(this)" type="password" class="form-control" id="confirmPassword" required minlength="8" maxlength="20">
                            </div>
                        </div>

                        <div class="text-center mt-2">
                            <input type="submit" value="Save" class="btn btn-primary">
                            <input type="reset" value="Cancel" class="btn btn-primary" id="cancelBtn">
                        </div>


                    </form>
                </div>
            </div>
        </main>

        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <script>
            function checkConfirmPassword(confirmPassword) {
                if (confirmPassword.value != $("#password").val())
                    confirmPassword.setCustomValidity("Password not match")
                else
                    confirmPassword.setCustomValidity("")
            }
            
        </script>

    </body>
</html>