<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="admin/fragments :: page_head('Molla Admin - Mange users')"></head>
    <body>

        <!-- Navbar -->
        <div th:replace="admin/fragments :: nav('users')"></div>

        <main class="container">
            <!-- Main topic -->
            <h2 class="mb-2 mt-5 main-title">Manage users</h2>

            <!-- Links -->
            <div class="user-links">
                <a th:href="@{/admin/users/new}">Create new user</a> |
                <a th:href="@{/admin/users/export/csv}">Export as CSV</a> |
                <a th:href="@{/admin/users/export/excel}">Export as Excel</a> |
                <a th:href="@{/admin/users/export/pdf}">Export as PDF</a>
            </div>


            <div th:replace="admin/fragments :: search_form_and_message" />


            <!-- Table -->
            <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr class="bg-black text-white">
                    <th th:replace="admin/fragments :: column_links('id', 'User ID', '/admin/users')"></th>
                    <th>Photo</th>
                    <th th:replace="admin/fragments :: column_links('firstName', 'First name', '/admin/users')"></th>
                    <th th:replace="admin/fragments :: column_links('lastName', 'Last name', '/admin/users')"></th>
                    <th th:replace="admin/fragments :: column_links('email', 'Email', '/admin/users')"></th>
                    <th>Roles</th>
                    <th th:replace="admin/fragments :: column_links('enabled', 'Enable', '/admin/users')"></th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th>[[${user.id}]]</th>
                    <th class="text-center">
                        <i th:if="${user.photos == null}" class="avatar-icon fas fa-portrait fa-3x"></i>
                        <img width="100" height="80" th:if="${user.photos != null}" th:src="@{${user.photoImagePath}}">
                    </th>
                    <th>[[${user.firstName}]]</th>
                    <th>[[${user.lastName}]]</th>
                    <th>[[${user.email}]]</th>
                    <th>[[${user.roles}]]</th>
                    <th>
                        <a th:if="${user.enabled == true}" th:href="@{'/admin/users/' + ${user.id} + '/enabled/false'}" class="enable-icon fas fa-check-circle fa-2x"></a>
                        <a th:if="${user.enabled == false}" th:href="@{'/admin/users/' + ${user.id} + '/enabled/true'}" class="disable-icon fas fa-circle fa-2x"></a>
                    </th>
                    <th class="text-center d-flex justify-content-around">
                        <a class="edit-link" th:href="@{'/admin/users/edit/' + ${user.id}}"><i class="fas fa-user-edit"></i></a>
                        <a class="remove-link" th:href="@{'/admin/users/delete/' + ${user.id}}"><i class="fas fa-user-times"></i></a>
                    </th>
                </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="text-center mt-2 mb-2" th:if="${totalItems > 0}">
                <span>Showing users # [[${currentPage}]] to [[${totalPages}]] of [[${totalItems}]]</span>
            </div>
            <div class="text-center mt-2 mb-2" th:if="${totalItems < 1}">
                <span>No users found</span>
            </div>
            <div th:if="${totalPages > 1}" class="mt-2 mb-5">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled' }">
                            <a class="page-link" th:href="@{'/admin/users/page/1' + '/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword == null ? '' : '&keyword=' + keyword}}">First</a>
                        </li>
                        <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled' }">
                            <a class="page-link" th:href="@{'/admin/users/page/' + ${currentPage - 1} + '/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword == null ? '' : '&keyword=' + keyword}}">Previous</a>
                        </li>
                        <li th:class="${currentPage != i ? 'page-item': 'page-item active' }" th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/admin/users/page/' + ${i} + '/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword == null ? '' : '&keyword=' + keyword}}">[[${i}]]</a>
                        </li>
                        <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled' }">
                            <a class="page-link" th:href="@{'/admin/users/page/' + ${currentPage + 1} + '/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword == null ? '' : '&keyword=' + keyword}}">Next</a>
                        </li>
                        <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled' }">
                            <a class="page-link" th:href="@{'/admin/users/page/' + ${totalPages} + '/?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword == null ? '' : '&keyword=' + keyword}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </main>


        <script>
            function clearFilter() {
                window.location = "[[@{/admin/users}]]";
            }
        </script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </body>
</html>