<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="admin/fragments :: page_head('Home - Molla Mangment')"></head>
    <body>

        <!-- Navbar -->
        <div th:replace="admin/fragments :: nav('home')"></div>

        <main class="container">
            <h2 class="mb-2 mt-5 main-title">Welcome</h2>
            <a th:href="@{/admin/account}"
               sec:authentication="principal.name"></a>
            <span sec:authentication="principal.authorities"></span>
        </main>


    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>