<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div th:fragment="content" th:remove="tag">
        <div class="form-group row mb-4">
            <small>
                The following information is important to calculate shipping cost for the product.</br>
                The dimensions (L X W X H) is for the box that is used to package the product - not the product's dimensions.
            </small>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">Length (inch): </label>
            <div class="col-10">
                <input type="number" step="0.01" class="form-control input" th:field="*{length}" required>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">Width (inch): </label>
            <div class="col-10">
                <input type="number" step="0.01" class="form-control input" th:field="*{width}" required>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">Height (inch): </label>
            <div class="col-10">
                <input type="number" step="0.01" class="form-control input" th:field="*{height}" required>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label">Weight (pounds): </label>
            <div class="col-10">
                <input type="number" step="0.01" class="form-control input" th:field="*{weight}" required>
            </div>
        </div>

    </div>

</html>