<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div th:fragment="content" th:remove="tag">
        <div class="m-2">
            <label class="mb-2">Short Description:</label>
            <textarea class="form-control input" th:field="*{shortDescription}" rows="5" required></textarea>
        </div>

        <div class="m-2">
            <label class="mt-2 mb-2">Full Description:</label>
            <textarea class="form-control input" th:field="*{fullDescription}" rows="10" required></textarea>
        </div>
    </div>

</html>