<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		<head th:replace="admin/fragments :: page_head('Page Not Found - Molla')"></head>
	<body>
		<!-- Navbar -->
		<div th:replace="error/fragments :: nav('')"></div>

		<main class="container">

			<!-- Main topic -->
			<h2 class="mb-2 mt-5 main-title">Sorry, the requested page could not be found</h2>
		</main>

		<script type="text/javascript" th:src="@{/js/main.js}"></script>
	</body>
</html> 