<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:fragment="page_head(title)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>[[${title}]]</title>
        <link rel="icon" type="image/png" th:href="@{/images/logo-2.png}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>

        <!-- Navbar -->
        <nav th:fragment="nav(activeTab)" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

            <!-- Hidden form to logout -->
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit">
            </form>

            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a th:class="${activeTab == 'home' ? 'active nav-link'  : 'nav-link'}"
                               th:href="@{/}"
                            >Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



    </body>
</html>