.navbar {
    padding: 10px 0;
}
.navbar .navbar-brand {
    margin: 0px 10px 5px 0;
}
.navbar-nav .nav-item a {
    margin: 5px 8px 0;
    color: #b1b1b1 !important;
    text-decoration: none;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a.active {
    color: #fff !important;
}