<div th:fragment="search_nav" class="row">
    <div class="col-md">
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="collapse navbar-collapse" id="searchNavbar">
                <form class="row g-3 align-items-center mb-4" th:action="@{/search}" method="get">
                    <div class="d-flex">
                        <input type="search" name="keyword" class="form-control mr-sm-2"
                               th:value="${keyword}"
                               placeholder="keyword" required />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>
